
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body{
  margin: 0;
}
.maindiv {
  position: relative;
  background-color: white;
  height: 1014px;
  z-index: -2;
  overflow: hidden;
}

/* Default absolute desktop layout */
.div-2 {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 15.4%;
  left: 28.5%;
}

.div-3 {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 54.7%;
  left: 0;
}

.div-4 {
  position: absolute;
  width: 500px;
  height: 500px;
  bottom: -1%;
  left: 25.52%;
}

.div-5 {
  position: absolute;
  width: 400px;
  height: 500px;
  top: 55.6%;
  right: 0;
}

/* Mobile layout below 770px */


.Text1{
position: absolute;
width: 677px;
height: 117px;
left: -33px;
top: -11px;
font-family: 'Kaisei Tokumin';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 38px;
text-align: center;
color: #000000;
}

.Text2{
position: absolute;
width: 677px;
height: 117px;
top: 24px;
left: -30px;
font-family: 'Kaisei Tokumin';
font-style: normal;
font-weight: 700;
font-size: 67px;
line-height: 97px;
text-align: center;

color: #000000;
}


.Text3{

position: absolute;
width: 677px;
height: 64px;
top: 123px;
left: -40px;
font-family: 'Kaisei Tokumin';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 49px;
text-align: center;
color: #000000;
}

.vector{
position: absolute;
width: 56px;
height: 33px;
top: 23px;
left: 604px;

}

.Vectortwo{
position: absolute;
width: 127px;
height: 110px;
left: calc(50% - 127px/2 - 530.5px);
top: calc(50% - 110px/2 - 295px);

}

.Vectorthree{
position: absolute;
width: 58px;
height: 63px;
left: calc(50% - 58px/2 + 577px);
top: calc(50% - 63px/2 - 359.5px);
}

.background-effect{

position: absolute;
width: 1237px;
height: 1011px;
left: 192px;
top: 196px;
background: linear-gradient(180deg, #C0C5F8 15.38%, #FFFFFF 100%);
filter: blur(200px);
z-index: -1;
}

.middle-block-1{


position: absolute;
width: 50px;
height: 50px;
top: 265px;
left: 16px;
display: flex;
justify-content: center;
align-items: center;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
transform: rotate(-35.73deg);
}

.image1{
  transform: rotate(35.73deg);
  width: 25px;
  height: 25px;
}

.middle-block-2{/* Frame 21 */

position: absolute;
width: 50px;
height: 50px;
top: 216px;
left: 99px;
display: flex;
justify-content: center;
align-items: center;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
transform: rotate(30.75deg);
}

.image2{
  width: 34px;
  height: 30px;
  transform: rotate(-30.75deg);
}

.middle-block-3{/* Frame 22 */

position: absolute;
width: 50px;
height: 50px;
top: 271px;
left: 184px;
display: flex;
justify-content: center;
align-items: center;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
transform: rotate(-26.76deg);
}

.image3{
  width: 22px;
  height: 22px;
  transform: rotate(26.76deg);
}


.middle-block-4{/* Frame 19 */

position: absolute;
width: 50px;
height: 50px;
top: 247px;
left: 301px;
display: flex;
justify-content: center;
align-items: center;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
transform: rotate(22.01deg);
}

.image4{
  width: 54px;
  height: 48px;
  transform: rotate(-22.01deg);
}


.middle-block-5{/* Frame 20 */

position: absolute;
top: 281px;
left: 418px;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
transform: rotate(-24.76deg);
}

.image5{
  width: 29px;
  height: 29px;
  transform: rotate(24.76deg);
}


.middle-block-6{/* Frame 20 */

position: absolute;
top: 255px;
left: 527px;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
transform: rotate(-26.76deg);
}

.image6{
  width: 29px;
  height: 29px;
  transform: rotate(26.76deg);
}

.image0{
position: absolute;
width: 47px;
height: 23px;
left: calc(50% - 47px/2 - 410.5px);
top: calc(50% - 23px/2 - 119.5px);
}



.rectangle-52{
position: absolute;
width: 47px;
height: 47px;
left: 16px;
top: 21px;

background: rgba(217, 217, 217, 0.35);
border-radius: 10px;

}

.google{
position: absolute;
width: 31px;
height: 31px;
left: 24px;
top: 29px;


}

.google-ads{
position: absolute;
width: 121px;
height: 24px;
left: 77px;
top: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #000000;
}

.reviews-initial{
position: absolute;
width: 70px;
height: 22px;
left: 77px;
top: 42px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #A9A9A9;


}

.reviews-final{
position: absolute;
width: 70px;
height: 22px;
left: 107px;
top: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #A9A9A9;
}

.ellipse-6{
position: absolute;
width: 1237px;
height: 1011px;
left: 192px;
top: 196px;

background: linear-gradient(180deg, #C0C5F8 15.38%, #FFFFFF 100%);
filter: blur(200px);

}

@media (max-width: 770px) {
  .maindiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    transition: all 0.3s ease-in-out;
  }

  .div-1 {
    display: none;
  }


  .div-2 {
    position: relative;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 240px;

  }
  .div-3 {
    top: 0;
    left: 0.25%;
    right: 0.25%;
    position: relative;
    width: 99.5%;
    height: 390px;

  }

  .div-4{
    top: 0;
    left: -10%;

    position: relative;
    width: 100%;
    height: 500px;

  }

  .div-5 {
    top: 0;
    left: 0.25%;
    right: 0.25%;
    position: relative;
    width: 99.5%;
    height: 375px;

  }

  .Text1{
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    top: 55px;
    left: 0;
    right: 0;
    width: 100%;
  }

  .Text2{
    width: 240px;
    font-weight: 700;
    font-size: 30px;
      left: 0;
    right: 0;
    width: 100%;
    top: 53.5px;
    white-space: nowrap;
  }


  .Text3{
      width: 240px;
      font-weight: 500;
      font-size: 14px;
      left: 0;
      right: 0;
      width: 100%;
      white-space: nowrap;
      top: 119px;
  }

 

  .vector{
    width: 45px;
    height: 30px;
    top: 10px;
    left: 0px;
  }

  .middle-block-1{
    top: 186px;
    left: 10.63%;
    width: 30px;
    height: 30px;
  }

  .middle-block-2{
    top: 186px;
    left: 25.53%;
    width: 30px;
    height: 30px;
  }

  .middle-block-3{
    top: 186px;
    left: 40.42%;
    width: 30px;
    height: 30px;
  }

  .middle-block-4{
    top: 186px;
    left: 55.31%;
    width: 30px;
    height: 30px;
  }
  .middle-block-5{
    top: 186px;
    left: 70.21%;
    width: 30px;
    height: 30px;
  }

  .middle-block-6{
    top: 186px;
    left: 85.1%;
    width: 30px;
    height: 30px;
  }
  .vector{
    top: 61px;
    left: 75.1%
  }


  .frame-10{
  background-color: red;
}
}

@media (max-width: 500px) {
  .div-4{
    left:-40%
  }
}

@media (max-width: 300px) {
  .div-4{
    left:-60%
  }
}
